.seller-cont {
  width: 100%;
}

.seller-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.seller-navbar h1 {
  font-size: 2rem;
}

.seller-navbar p {
  font-size: 1.2rem;
  margin-right: 20px;
}

.seller-table-cont {
  overflow-x: scroll;
  margin-top: 20px;
}

.seller-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 15px;
}

.seller-table thead {
  background-color: white;
}

.seller-table th,
.seller-table td {
  padding: 18px 20px;
  text-align: left;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(52, 71, 103, 0.103);
}

.seller-table tbody tr:hover {
  background-color: #d4d0d0;
}
.table--optns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table--optns p {
  font-weight: 500;
  font-size: 20px;
}
.table--optns1 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.search-input {
  padding-left: 2.6rem;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid black;
  /* width: 100%; */
}

.search-input::placeholder {
  color: #aaa;
  margin-left: 2rem;
}

/* .ant-btn-default {
  padding: 3px;
  height: 25px;
} */
@media (max-width: 570px) {
  .seller-navbar h1 {
    font-size: 1.5rem;
  }

  .seller-navbar p {
    font-size: 1rem;
  }

  .seller-table th,
  .seller-table td {
    font-size: 0.9rem;
    padding: 10px;
  }
}
