.seller-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  padding: 10px 20px;
}

.seller-navbar h1 {
  font-size: 2rem;
}

.seller-navbar p {
  font-size: 1.2rem;
  margin-right: 20px;
}

.seller-table table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 15px;
}

.seller-table thead {
  background-color: white;
}

.seller-table th,
.seller-table td {
  padding: 18px 20px;
  text-align: left;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(52, 71, 103, 0.103);
}

.seller-table th {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.seller-table tbody tr:hover {
  background-color: #d4d0d0;
}

.seller-table td {
  text-align: left;
}

/* Media query for screens with max-width 570px (small screens) */
@media (max-width: 570px) {
  .seller-navbar {
    width: 100%;
  }

  .seller-navbar h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .seller-navbar p {
    font-size: 1rem;
  }

  .seller-table th,
  .seller-table td {
    font-size: 0.9rem;
    padding: 10px;
  }

  .seller-table table {
    width: 100%;
    border-radius: 10px;
  }

  .seller-table tbody tr:hover {
    background-color: #e0e0e0;
  }
}
.seller-cont {
  width: 100%;
}

/* Media query for screens between 370px and 570px (mobile view) */
@media (min-width: 370px) {
  .seller-navbar {
    padding: 10px;
    width: 100%;
  }

  .seller-navbar h1 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .seller-navbar p {
    font-size: 0.9rem;
  }

  .seller-table th,
  .seller-table td {
    font-size: 0.8rem;
    padding: 8px;
  }

  .seller-table table {
    width: 100%;
    border-radius: 8px;
  }

  .seller-table tbody tr:hover {
    background-color: #f0f0f0;
  }
}
